#main-div{
    height: 80vh;
    display: flex;
    margin: 0;
    justify-content: center;
    align-items: center;
}

.center{
    justify-content: center;
    align-items: center;
    text-align: center;
}

mat-card{
    display: flex;
    width: 30%;
}

mat-form-field{
    display: block;
    padding-left: 5px;
    padding-right: 5px;
    width:auto 
}

.container {
    display: flex;
    flex-direction: column;
    align-items: left;
    width: 100%;
}

.container > * {
    width: 100%;
}

.field-title-container{
    display: inline-block;
    text-align: left;
    width: 100%;
    padding-left: 5px;
    padding-bottom: 5%;
}

.label{
    padding-right: 10%;
    font-size: large;
}

.add-button{
    font-size: x-large;
    font-weight: 400;
    position: relative;
    float: right;
}
