.main-card{
    display: flex;
    justify-content: space-between;
    flex-flow: row;
}

.title{
    float: left;
    position: relative;
    font-size: medium;
    justify-content: center;
    align-content: center;
}

.buttons-container{
    position: relative;
    float: right;
    width: 30%;
}