<h1 mat-dialog-title>{{action}} Field</h1>

<form #fieldForm="ngForm" (ngSubmit)="submit(fieldForm)" autocomplete="none">
    <mat-dialog-content>
        <div class="form-container">
            <mat-form-field>
                <mat-label>Name</mat-label>
                <input matInput type="text" name="name" required [(ngModel)]="name">
                <button mat-button *ngIf="name" matSuffix mat-icon-button aria-label="Clear" (click)="name=''">
                    <mat-icon>close</mat-icon>
                </button>
            </mat-form-field>
            <mat-form-field>
                <mat-label>Data Type</mat-label>
                <mat-select value="{{dataTypeSelected|async}}" (selectionChange)="setDatatypeSelected($event.value)"
                    required>
                    <mat-option value="0">Number</mat-option>
                    <mat-option value="1">Text</mat-option>
                    <mat-option value="2">Datetime</mat-option>
                    <mat-option value="3">Bool</mat-option>
                </mat-select>
            </mat-form-field>
            <mat-checkbox [(ngModel)]="acceptsMultpleValues" name="multipleValues" [(indeterminate)]="indeterminate"
                [labelPosition]="labelPosition" [disabled]="disabled">
                Accepts multiple values
            </mat-checkbox>
            <div [ngSwitch]="dataTypeSelected|async">
                <mat-form-field *ngSwitchCase="'0'">
                    <mat-label>Start</mat-label>
                    <input value="{{start}}" matInput type="number" name="start" required [(ngModel)]="start">
                    <button mat-button *ngIf="start" matSuffix mat-icon-button aria-label="Clear" (click)="start=''">
                        <mat-icon>close</mat-icon>
                    </button>
                </mat-form-field>
                <mat-form-field *ngSwitchCase="'0'">
                    <mat-label>End</mat-label>
                    <input value="{{end}}" matInput type="number" name="end" required [(ngModel)]="end">
                    <button mat-button *ngIf="end" matSuffix mat-icon-button aria-label="Clear" (click)="end=''">
                        <mat-icon>close</mat-icon>
                    </button>
                </mat-form-field>
                <mat-form-field *ngSwitchCase="'1'">
                    <mat-label>Add Word</mat-label>
                    <input matInput type="text" name="rangeValue" required [(ngModel)]="rangeValue">
                    <button  type="button" mat-button *ngIf="rangeValue" matSuffix mat-icon-button aria-label="Add"
                        (click)="addToList(rangeValue)">
                        <mat-icon>add</mat-icon>
                    </button>
                    <button mat-button *ngIf="rangeValue" matSuffix mat-icon-button aria-label="Clear"
                        (click)="rangeValue=''">
                        <mat-icon>close</mat-icon>
                    </button>
                </mat-form-field>
                <mat-list *ngSwitchCase="'1'">
                    <mat-list-item *ngFor="let value of textFieldList|async">
                        {{value}}
                        <button mat-button matSuffix mat-icon-button aria-label="Clear" (click)="removeFromList(value)">
                            <mat-icon>close</mat-icon>
                        </button>
                    </mat-list-item>
                </mat-list>
                <mat-form-field *ngSwitchCase="'2'" color="accent">
                    <mat-label>Start Date</mat-label>
                    <input name="startDate" required matInput [matDatepicker]="startPicker" [(ngModel)]="startDate">
                    <mat-datepicker-toggle matSuffix [for]="startPicker"></mat-datepicker-toggle>
                    <mat-datepicker #startPicker></mat-datepicker>
                </mat-form-field>
                <mat-form-field *ngSwitchCase="'2'" color="accent" required>
                    <mat-label>End Date</mat-label>
                    <input name="endDate" required matInput [matDatepicker]="endPicker" [(ngModel)]="endDate">
                    <mat-datepicker-toggle matSuffix [for]="endPicker"></mat-datepicker-toggle>
                    <mat-datepicker #endPicker></mat-datepicker>
                </mat-form-field>
            </div>
        </div>
    </mat-dialog-content>

    <mat-dialog-actions>
        <button mat-raised-button mat-dialog-close>Cancel</button>
        <button type="submit" mat-raised-button color="primary">Save</button>
    </mat-dialog-actions>
</form>