<div class="container">
    <div class="back">
        <button mat-icon-button color="primary" aria-label="Go Back" (click)="goBack()" [disabled]="shouldDisable">
            <mat-icon>arrow_back_ios</mat-icon>Area
        </button>
    </div>
    <div class="main-div">
        <mat-card class="center">
            <mat-card-header class="center title">
                <mat-card-title>{{name | async}}</mat-card-title>
            </mat-card-header>
            <div class="button-container">
                <button mat-icon-button color="primary" #tooltip="matTooltip" matTooltip="Add type"
                    matTooltipPosition="above" aria-label="Add Type" class="icon-button" (click)="redirectToCreate()">
                    <mat-icon class="bigger-mat-icon" [inline]="true">add</mat-icon>
                </button>
            </div>
            <app-management [buttons]="buttons" [columns]="columns" [title]="'Types'" [pageSize]="5"
                [dataSource]="datasource | async">
            </app-management>
        </mat-card>
    </div>
</div>